
body{
    background-image: url("../images/bg.png");    
    /* background-position: top left;     */
    background-color: #e2e2e2;    
    background-repeat: repeat;    
}
.selection:hover {
    cursor: pointer;    
    border: 2px solid #d2d2d2;
}
.go {
    background: rgba(76, 175, 80, 0.3) /* Green background with 30% opacity */
}
.stop {
    background: rgba(255, 0, 0, 0.3) /* Red background with 30% opacity */
}
.mid {
    /*background: rgba(0, 153, 255, 0.3)*/ /* Blue background with 30% opacity */
    background-color: #ffffff;
}
.chat{
    padding: 15px;
    height: 300px;
    overflow-y: scroll;        
    line-height: 16px;
}